<h1>Editing industry</h1>

<% form_for(@industry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= restful_submit_tag 'Show', 'show', industry_path(@industry), 'GET' %>
    <%= f.submit 'Update without RestfulSubmmit' %>
  </p>
<% end %>

<%= link_to 'Show', @industry %> |
<%= link_to 'Back', industries_path %>
